.property-outline {
  align-items: center;
  border: 1.5px solid;
  border-color: var(--rocprimary);
  border-radius: 2px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.property-outline .text-wrapper {
  color: var(--rocprimary);
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
